body {
    font-family: Arial, sans-serif;
    background-color: #f9c8dd;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container {
    text-align: center;
    position: relative;
}

h1 {
    color: #333;
}

img {
    max-width: 100%;
    height: auto;
    margin: 20px 0;
}

.buttons {
    position: relative;
}

.buttons button {
    font-size: 16px;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    transition: transform 0.5s ease; /* Add transition for smoother movement */
}

.buttons button.no-button:hover {
    background-color: #ddd;
}
